@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

/* .rs-panel-btn {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
} */
.rs-panel-btn:active,
.rs-panel-btn:focus,
.rs-panel-btn:hover {
  background-color: transparent !important;
}

.rs-accordion-item:last-child {
  border-bottom: 1px solid #e5e7eb !important;
  /* Tailwind gray-200 */
}

.rs-panel-collapsible.rs-panel-header {
  padding: 0 !important;
}